.character-card {
    transition: transform 0.2s;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  
  .character-card:hover {
    transform: scale(1.05);
  }
  
  .character-card img {
    height: 100px;
    object-fit: cover;
  }
  .character-card .card-text {
    white-space: normal;       /* 允許文字自動換行 */
    word-wrap: break-word; /* 必要時斷詞換行 */
    overflow: hidden;          /* 隱藏超出邊界的文字 */
    text-overflow: ellipsis;   /* 若需要截斷，使用省略號 */
  }
  .character-card .card-body {
    border: 1px solid #ccc;        /* 設置邊框 */
    background-color: #f9f9f9;     /* 設置背景顏色 */
    padding: 20px;                 /* 設置內邊距，讓文字不貼邊 */
    border-radius: 8px;            /* 設置圓角邊框 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 設置陰影效果 */
    margin: 10px 0;                /* 設置上下間距 */
  }
  