.character-detail {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  }
  
  .character-detail img {
    width: 100%;
    height: auto;
  }
  .character-detail .card-text{
    white-space: normal;       
    overflow-wrap: break-word; 
    overflow: hidden;          
    text-overflow: ellipsis;
  }   
  .character-detail .card-body{
    border: 1px solid #ccc;        
    background-color: #cda8a8;     
    padding: 20px;                 
    border-radius: 8px;            
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 1px ,0;               
  }  
  .character-detail.card.my-4.p-3{
    background-color: #a09191;
  }