.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.character-card img {
  height: 100px;
  object-fit: cover;
}

.character-detail {
  max-width: 500px;
  margin: 0 auto;
}
body {
  background-image: url('https://images8.alphacoders.com/135/1352211.jpeg'); /* 圖片的路徑 */
  background-size: cover; /* 將背景圖片覆蓋整個視窗 */
  background-repeat: no-repeat; /* 防止背景圖片重複 */
  background-position: center; /* 讓背景圖片置中 */
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}
